﻿@using FitnessCenter.CrossCutting.Enumerations
@using FitnessCenter.CrossCutting.Resources

<ul id="messagesPills" class="nav nav-pills flex-md-column">
    <li id="composeLink" class="nav-item">
        @Html.ActionLink(Resource.Compose, "Compose", "Message", new { @class = "nav-link text-bold active" })
    </li>
    <li class="nav-item">
        @Html.ActionLink(Resource.Inbox, "Index", "Message", new { messageType = MessageTypeEnum.Inbox }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink(Resource.Sent, "Index", "Message", new { messageType = MessageTypeEnum.Sent }, new { @class = "nav-link" })
    </li>
</ul>
