﻿@using FitnessCenter.CrossCutting.Resources

&copy; @DateTime.Now.Year <span class="text-bold"><span class="accent">@Resource.Rokhlikov</span> @Resource.Artur @Resource.Mikhailovich</span>
<ul class="list-border-left navigation text-small-italic">
    <li>docto-RAM&#64;yandex&#46;ru</li>
    <li>+375 (33) 632-25-49</li>
    <li><a href="https://www.linkedin.com/in/docto-RAM" target="_blank">www.LinkedIn.com/in/docto-RAM</a></li>
</ul>