﻿@using FCA = FitnessCenter.CrossCutting.Ancillary
@using FitnessCenter.CrossCutting.Enumerations

@{
    SelectList languages = new SelectList
    (
        Enum.GetNames(typeof(LanguageEnum)).Where(language => !language.Contains("Default")),
        FCA.Culture.GetLanguage().ToString()
    );
}

@using (Html.BeginForm("ChangeLanguage", "Ancillary", FormMethod.Post, new { @id = "languageSelectionForm", @role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("returnUrl", ViewContext.HttpContext.Request.Url.PathAndQuery)
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.DropDownList("selectedLanguage", languages, new { @id = "selectedLanguage", @class = "form-control" })
            </div>
        </div>
    </div>
}
