﻿@using FitnessCenter.WEB.ViewModels

@model  GroupViewModel

<div>
    @Html.LabelFor(model => model.Cost)
    <div class="text-accent">
        @Html.DisplayFor(model => model.Cost)
    </div>
</div>
