﻿@using FitnessCenter.WEB.ViewModels

@model  GroupViewModel

@{
    Layout = null;
}

@{
    var isCompleteGroup = Model.MaxNumberOfPeople.HasValue && Model.Clients.Count >= Model.MaxNumberOfPeople.Value;
}

@helper GetGroupHeader()
{
    var schedules = Model.Schedules.Where(x => x.EndTime > DateTime.Now);
    <strong>@Model.Name</strong>
    <br />
    <span class="group-head-date">
        @((schedules.Count() == 1) ? $"({schedules.FirstOrDefault().BeginTime.ToShortDateString()})" : $"({schedules.Min(x => x.BeginTime).ToShortDateString()} - {schedules.Max(x => x.BeginTime).ToShortDateString()})")
    </span>
}

@if (Model != null)
{
    <div class="group-head-@((isCompleteGroup) ? "complete" : "incomplete")">
        @if (isCompleteGroup || !Model.IsEnabledLinks)
        {
            @GetGroupHeader()
        }
        else
        {
            <a value="@Model.Id">
                @GetGroupHeader()
            </a>
        }
    </div>
    <div class="group-body">
        @Html.DisplayFor(model => model.Schedules, "Schedules")
    </div>
}
