﻿@using FitnessCenter.CrossCutting.Resources

<ul class="navigation navigation-header">
    @if (Request.IsAuthenticated)
    {
        <li>
            @User.Identity.Name
        </li>
        <li>
            @Html.ActionLink(Resource.Messages, "Index", "Message") <span id="countUnreadMessages"></span>
        </li>
        <li>
            @Html.ActionLink(Resource.LogOff, "LogOff", "User")
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink(Resource.LogIn, "Login", "User")
        </li>
        <li>
            @Html.ActionLink(Resource.JoinFitness, "Register", "User")
        </li>
    }
</ul>
