﻿@using FitnessCenter.CrossCutting.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@($"{ViewBag.Title}{((ViewBag.Title == null) ? "" : " - ")}{Resource.FitnessCenter}")</title>
    @Styles.Render("~/bundles/assets/styles")
    @Scripts.Render("~/bundles/js/modernizr")
</head>
<body>
    <div id="loader"></div>
    <header>
        <div class="container">
            <div class="row">
                <div class="headerLeft col-6 col-md-8 col-lg-3 col-xl-2">
                    @Html.Partial("HeaderLeft")
                </div>
                <div class="headerCenter col-lg-6 col-xl-7 d-none d-lg-block">
                    @Html.Partial("HeaderCenter")
                </div>
                <div class="headerRight col-6 col-md-4 col-lg-3 col-xl-3">
                    @Html.Partial("HeaderRight")
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="main col-12">
                    @RenderSection("Main", required: false)
                </div>
            </div>
            <div class="row">
                <div class="body col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="footerLeft col-9 col-md-10">
                    @Html.Partial("FooterLeft")
                </div>
                <div class="footerRight col-3 col-md-2">
                    @Html.Partial("FooterRight")
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-indent-big">
                    <div class="notification">
                        @Resource.YouAreOnADemoResource
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Html.Partial("UrlManager")
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", required: false)
</body>
</html>
