﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels
@using System.Collections.Generic;

@model  List<CurrentClientViewModel>

@{
    ViewBag.Title = Resource.Client;
}

<div id="clientPage">
    <div id="payment">
        <div class="floatForm">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="cost" class="text-accent calm center">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">
                        <button type="button" id="cancelPayment" class="btn btn-outline-secondary">@Resource.Cancel</button>
                    </div>
                    <div class="col-6">
                        @using (Html.BeginForm("Pay", "Client", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.Hidden("clientId", "")
                            <button type="submit" class="btn btn-outline-secondary">@Resource.Pay</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-2 col-md-11 offset-md-1">
                <h2>@Resource.Client</h2>
            </div>
        </div>
        @foreach (var client in Model)
        {
            <div class="row">
                <div class="col-12">
                    <div class="top-border">
                        <div class="container">
                            <div class="row justify-content-around">
                                <div class="col-8 col-md-6 offset-md-1 col-lg-4">
                                    @Html.Partial("Group", client.Group)
                                </div>
                                <div class="col-3 offset-md-1 col-lg-5 col-indent-big">
                                    @Html.Partial("GroupCost", client.Group)
                                    @if (client.PaymentDate.HasValue)
                                    {
                                        <div class="text-accent calm">
                                            @Resource.Paid
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-accent accent">
                                            <a id="@client.Id" value="@client.Group.Cost">
                                                @Resource.Unpaid
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
