﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model ComposeMessageViewModel

@{
    ViewBag.Title = Resource.Messages;
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-11 offset-lg-1">
            <h2>@Resource.Messages</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 offset-lg-1 messagesNav">
            @Html.Partial("ComposePageNavigation")
        </div>
        <div class="col-12 col-md-8">
            <div id="compose">
                @using (Html.BeginForm("Compose", "Message", FormMethod.Post, new { @role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)

                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.DestinationEmail)
                                @Html.TextBoxFor(m => m.DestinationEmail, new { id = "destinationEmail", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DestinationEmail, "", new { @class = "accent" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Title)
                                @Html.TextBoxFor(m => m.Title, new { id = "title", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "accent" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Text)
                                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = 7 })
                                @Html.ValidationMessageFor(m => m.Text, "", new { @class = "accent" })
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-outline-secondary btn-indent-top">@Resource.Send</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/jqueryval")
}
