﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model  List<OutgoingMessageViewModel>

@{
    Layout = null;
}

@{
    string fullName = string.Empty;
    string title = string.Empty;
    string text = string.Empty;
}

@if (Model.Count > 0)
{
    <div class="container">
        @foreach (var message in Model)
        {
            fullName = $"{message.IncomingMessages.FirstOrDefault().UserSurname} {message.IncomingMessages.FirstOrDefault().UserName}";
            title = message.Title;
            text = message.Text;
            <div class="messageItem">
                <div class="row messageHeader">
                    <div class="col-5"><a>@((fullName.Count() > 18) ? fullName.Remove(15).PadRight(18, '.') : fullName)</a></div>
                    <div class="col-3"><a>@((title.Count() > 9) ? title.Remove(6).PadRight(9, '.') : title)</a></div>
                    <div class="col-4 calm"><a>@message.SentDate.GetValueOrDefault().ToString("dd MMMM yyyy")</a></div>
                </div>
                <div class="row messageBody displayNone">
                    <div class="col-9 offset-2">
                        <div class="messageText">
                            <hr />
                            <p>
                                <span class="calm">@Resource.To:</span> @fullName
                                <br />
                                <span class="calm">@Resource.Subject:</span> @title
                            </p>
                            <hr />
                            <p>@text</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="indent-circle-common calm">
        @Resource.ThereAreNoMessages
    </div>
}
