﻿@using FitnessCenter.CrossCutting.Enumerations
@using FitnessCenter.CrossCutting.Resources

@model MessageTypeEnum

@{
    ViewBag.Title = Resource.Messages;
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-11 offset-lg-1">
            <h2>@Resource.Messages</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 offset-lg-1 messagesNav">
            <ul id="messagesPills" class="nav nav-pills flex-md-column">
                <li id="composeLink" class="nav-item">
                    @Html.ActionLink(Resource.Compose, "Compose", "Message", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <a id="inboxPill" class="nav-link@((Model == MessageTypeEnum.Inbox) ? " text-bold active" : "")" data-toggle="pill">@Resource.Inbox</a>
                </li>
                <li class="nav-item">
                    <a id="sentPill" class="nav-link@((Model == MessageTypeEnum.Sent) ? " text-bold active" : "")" data-toggle="pill">@Resource.Sent</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-8">
            <div id="inbox" class="@((Model == MessageTypeEnum.Inbox) ? "" : "displayNone")">
            </div>
            <div id="sent" class="@((Model == MessageTypeEnum.Sent) ? "" : "displayNone")">
            </div>
        </div>
    </div>
</div>
