﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model ResultOfCompose

@{
    ViewBag.Title = Resource.Messages;
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-11 offset-lg-1">
            <h2>@Resource.Messages</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 offset-lg-1 messagesNav">
            @Html.Partial("ComposePageNavigation")
        </div>
        <div class="col-12 col-md-8">
            <div class="indent-circle-common@((Model.IsSuccess) ? " calm" : " accent")">
                @Model.Message
            </div>
        </div>
    </div>
</div>
