﻿@import "values.less";
@import "mixins.less";
@import "primitives.less";

a {
    color: @color-a-common;
}

a:hover,
a:active,
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):active,
a:hover > .group-head-date,
a:active > .group-head-date {
    color: @color-accent;
    text-decoration: none;
    cursor: pointer;
}

.navigation-header {
    .indent(25px 0 0 0, 0 0 0 20px);

    border-left: 1px solid @color-border-accent;
    list-style: none;
}

.navigation-roles {
    .indent(@empty-value, 0 0 18px 25px);

    border-bottom: 1px solid @color-border-common;
    border-right: 1px solid @color-border-common;
    list-style: none;
    font-size: @font-upper-middle;
}

.btn-indent-top {
    .indent(@btn-indent-top 0 0 0, @empty-value);
}

.col-indent-big {
    .indent(@col-indent-big-top 0 0 0, @empty-value);
}

.col-indent-small {
    .indent(@col-indent-small-top 0 0 0, @empty-value);
}

.row-indent {
    .indent(@row-indent, @empty-value);
}

.indent-circle-common {
    .indent(25px 30px, @empty-value);
}

.img-indent-circle {
    .indent(@empty-value, 10px 30px);
}

.title {
    .text-special(16px, 0, @font-large, center, @color-h);
}

.title-border-top {
    margin-top: 27px;
    border-top: 1px solid @color-accent;
}

.top-border {
    border-top: 1px solid @color-border-light;
    padding-top: 37px;
}

.bottom-border-common {
    margin-bottom: 16px;
    border-bottom: 1px dotted @color-border-common;
    min-height: 39px;
}

.bottom-border-accent {
    margin-bottom: 16px;
    border-bottom: 1px solid @color-accent;
}

.notification {
    .text-special(0 0 5px 0, 7px 10px 2px 0, @font-middle, center, @color-accent);

    text-transform: uppercase;
}

.address {
    .text-special(0 0 5px 0, 7px 10px 2px 0, @font-small, right, black);

    font-style: italic;
}

.group-head-date {
    .text-special(@empty-value, @empty-value, @font-small, left, black);

    font-style: italic;
}

.slogan-large {
    .text-special(0, 0, @font-large, left, @color-h);

    line-height: 1.5;
    position: relative;
    top: 3%;
}

.slogan-huge {
    .text-special(0, 0, @font-huge, left, @color-h);

    line-height: 1.3;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.expand {
    img {
        box-sizing: border-box;
        width: 100%;
    }
}

.container {
    .container:not([container]) {
        .indent(0, 0);

        min-width: 0;
    }
}

header {
    min-height: 200px;
    color: @color-header-color;
    background-color: @color-header-background-color;

    .navigation li a {
        font-size: @font-middle;
        color: @color-header-a;
    }

    .navigation a:hover,
    .navigation a:active {
        color: @color-accent;
        text-decoration: none;
    }

    .headerCenter {
        text-align: center;
    }

    .headerRight {
        margin-top: 37px;
    }
}

footer {
    .indent(50px 0 0 0, 80px 40px);

    min-height: 370px;
    background-color: @color-background-color-common;
    background-image: url('../../../images/footer.jpg');
    background-size: auto 504px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

h2 {
    .indent(30px 0, @empty-value);

    color: @color-h;
}

input[type=file] {
    height: 44px;
}

.pagination {
    .page-link {
        background-color: @color-button-background-color;
        border-color: @color-button-border-color;
        color: @color-button-color;
    }

    .active > .page-link {
        background-color: @color-button-active-background-color;
        border-color: @color-button-border-color;
        color: @color-button-active-color;
    }
}

.pagination .page-link:focus {
    box-shadow: none;
}

.group-head-incomplete {
    .group-head(linear-gradient(to bottom, #eeeef8 0%, #c7c7dd 90%, #d5d5dd 100%));
}

.group-head-complete {
    .group-head(linear-gradient(to bottom, #fcc 0%, #dbb 90%, #dcc 100%));
}

.group-body {
    .indent(0 0 16px 0, 10px 25px);
}

#loader {
    .space-hidden(9999);

    background: url('../../../images/loader.gif') 50% 50% no-repeat;
    background-color: rgba(238, 242, 250, 0.5);
}

#payment {
    .space-hidden(999);

    background-color: rgba(178, 182, 190, 0.9);
}

.floatForm {
    .indent(16% auto, 54px 25px 37px 25px);

    border-top: 1px solid @color-border-common;
    border-radius: 16px;
    width: 400px;
    background-color: white;
}

.text-accent {
    margin-bottom: 25px;
    font-size: @font-upper-middle;
    font-weight: bold;
}

.displayNone {
    display: none;
}

#groups {
    .displayNone;
}

#compose,
#inbox,
#sent {
    .indent(20px 0 37px 37px, @empty-value);
}

#destinationEmail,
#title {
    width: 470px;
}

table {
    .indent(20px 0, @empty-value);
}

td {
    .indent(@empty-value, 5px 12px 5px 16px);
}

.validation-summary-errors {
    position: relative;
    left: -37px;
}

#groups {
    position: relative;
    top: -10px;
}

#trainerTabs, 
#classSchedule {
    position: relative;
    top: -25px;
}

#actualGroupsPagination {
    position: relative;
    top: -10px;
}

.messagesNav {
    border-radius: 7px;
    background-color: #f4f4fe;
}

.nav-pills > .nav-item {
    .indent(12px 0, @empty-value);
}

.nav-pills .nav-link {
    .indent(0 7px, 5px 25px 6px 20px);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #ececf6;
    color: black;
}

.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:active {
    color: @color-accent;
}

#composeLink .nav-link {
    border: 1px solid @color-border-light;
    border-radius: 25px;
}

#composeLink .nav-link,
#composeLink .nav-link:hover,
#composeLink .nav-link:active {
    background-color: @color-light;
}

.messageItem {
    .indent(@empty-value, 12px 12px 14px 12px);

    border-bottom: 1px solid @color-message-border-color;
    width: 436px;
}

.messageText {
    .indent(20px 0px 10px 0px, 5px 20px 15px 20px);

    border: 1px solid @color-message-border-color;
    border-radius: 16px;
    background-color: @color-message-background-color;
}

textarea.form-control {
    width: 470px;
}
