﻿@import "values.less";

.indent-margin(@margin) when not (@margin = @empty-value) {
    margin: @margin;
}

.indent-padding(@padding) when not (@padding = @empty-value) {
    padding: @padding;
}

.indent(@margin, @padding) {
    .indent-margin(@margin);
    .indent-padding(@padding);
}

.text-special(@margin, @padding, @font-size, @text-align, @color) {
    .indent(@margin, @padding);
    font-size: @font-size;
    text-align: @text-align;
    color: @color;
}

.group-head(@background) {
    border-radius: 12px;
    padding: 10px 25px;
    background: @background;
}

.space-hidden(@z-index) {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: @z-index;
}
