﻿@import "values.less";

.accent {
    color: @color-accent;
}

.calm {
    color: @color-calm;
}

.light {
    color: @color-light;
}

.text-bold {
    font-weight: bold;
}

.text-small-italic {
    font-size: @font-small;
    font-style: italic;
}

.text-inline {
    font-size: @font-middle;
    font-weight: normal;
}

.text-right{
    align-content:flex-end;
}

.center {
    display: flex;
    justify-content: center;
}
