﻿@empty-value: null;

@col-indent-big-top: 75px;
@col-indent-small-top: 34px;
@btn-indent-top: 25px;
@row-indent: 10px 0 25px 0;

@font-small: 14px;
@font-middle: 16px;
@font-upper-middle: 20px;
@font-large: 28px;
@font-huge: 37px;

@color-a-common: black;
@color-accent: #c33;
@color-background-color-common: #ebeef7;
@color-border-accent: @color-accent;
@color-border-common: gray;
@color-border-light: lightgray;
@color-button-active-background-color: gray;
@color-button-active-color: white;
@color-button-background-color: white;
@color-button-border-color: gray;
@color-button-color: gray;
@color-calm: darkcyan;
@color-h: darkcyan;
@color-header-a: white;
@color-header-background-color: black;
@color-header-color: white;
@color-light: white;
@color-message-background-color: #f0f0f7;
@color-message-border-color: #ebeef7;
