﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model LoginViewModel

@{
    ViewBag.Title = Resource.LogIn;
}

<div class="container">
    <div class="row">
        <div class="col-10 offset-2">
            <h2>@Resource.LogIn</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-2">
            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="container">
                    <div class="row">
                        <div class="col-12 accent">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "accent" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "accent" })
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-outline-secondary btn-indent-top">@Resource.LogIn</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/jqueryval")
}
