﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model RegisterViewModel

@{
    ViewBag.Title = Resource.Registration;
}

<div class="container">
    <div class="row">
        <div class="col-10 offset-2 col-md-11 offset-md-1">
            <h2>@Resource.Registration</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("Register", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()                

                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-2 col-md-4 offset-md-1 col-lg-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 accent">
                                        @Html.ValidationSummary(true)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "accent" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 offset-2 col-md-4 col-lg-3 offset-lg-1">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Surname)
                                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name)
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Patronymic)
                                        @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Patronymic, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Birthday)
                                        @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address)
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "accent" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 offset-2 col-md-4 offset-md-7 col-lg-3 offset-lg-1">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Language)
                                        @Html.DropDownListFor(m => m.Language, ViewBag.Languages as SelectList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Language, "", new { @class = "accent" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.Label(@Resource.Photo)
                                        <input type="file" name="postedFile" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-2 col-md-11 offset-md-1">
                            <div class="container">
                                <div class="row">
                                    <button type="submit" class="btn btn-outline-secondary btn-indent-top">@Resource.CreateAccount</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/jqueryval")
}
