﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model  GroupViewModel

@{
    Layout = null;
}

@{
    var clients = Model.Clients.OrderBy(x => x.UserSurname);

    int i = 0;
}

@if (clients.Count() > 0)
{
    <table>
        @foreach (var client in clients)
        {
            <tr>
                <td class="text-right">@(++i).</td>
                <td class="text-bold">@client.UserSurname @client.UserName @client.UserPatronymic</td>
                <td class="text-right">@client.UserBirthday.ToShortDateString()</td>
                <td class="text-right text-bold @((client.PaymentDate.HasValue) ? "calm" : "accent")">@((client.PaymentDate.HasValue) ? Resource.Paid : Resource.Unpaid)</td>
            </tr>
        }
    </table>
}
