﻿@using FitnessCenter.CrossCutting.Extensions
@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model  TrainerViewModel

@{
    ViewBag.Title = Resource.Trainer;
}

@{ 
    var schedules = Model.Schedules.Where(x => x.EndTime > DateTime.Now).OrderBy(x => x.BeginTime);

    int i = 0;

    SelectList groups = new SelectList
    (
        Model.Schedules.Where(x => x.EndTime > DateTime.Now).Select(x => new { x.GroupId , x.GroupName }).Distinct().OrderBy(x => x.GroupName),
        "GroupId",
        "GroupName"
    );
}

<div class="container">
    <div class="row">
        <div class="col-10 offset-2 col-md-11 offset-md-1">
            <h2>@Resource.Trainer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="trainerTabs" class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a id="classScheduleTab" class="nav-link active">@Resource.ClassSchedule</a>
                </li>
                <li class="nav-item">
                    <a id="groupsTab" class="nav-link">@Resource.Groups</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-indent-small center">
            <div id="classSchedule">
                @if (schedules.Count() > 0)
                { 
                    <table>
                        @foreach (var schedule in schedules)
                        {
                            <tr>
                                <td class="text-right">@(++i).</td>
                                <td class="text-bold">@schedule.BeginTime.ToShortDateString(), @schedule.BeginTime.DayOfWeek.GetDayOfWeekShortName(), @schedule.BeginTime.ToShortTimeString() - @schedule.EndTime.ToShortTimeString()</td>
                                <td class="text-right">@schedule.GroupName</td>
                                <td class="text-right text-bold calm">@schedule.FitnessTypeName.GetFitnessTypeName() / @Resource.Gym</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <div id="groups">
                <div>
                    @Html.DropDownList("groupSelectionByTrainer", groups, @Resource.SelectGroup, new { @id = "groupSelectionByTrainer", @class = "form-control text-bold calm" })
                </div>
                <div id="selectedGroupByTrainer">
                </div>
            </div>
        </div>
    </div>
</div>
