﻿@using FitnessCenter.CrossCutting.Enumerations
@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model UserViewModel

@{
    ViewBag.Title = Resource.HomePage;
}

@section Main {
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3 d-none d-md-block">
                @if (Model == default(UserViewModel) || Model.Roles.Count() <= 1)
                {
                    <div class="bottom-border-common"></div>
                }
            </div>
            <div class="col-12 col-md-8 col-xl-9">
                <div class="bottom-border-accent">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7 col-xl-8">
                                <div class="notification">
                                    @Resource.DemoResource
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4 d-none d-lg-block">
                                <div class="address">
                                    @Resource.CenterAddress
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-3">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-12">
                        @if (Model != default(UserViewModel) && Model.Roles.Count() > 1)
                        {
                            <ul class="navigation navigation-roles">
                                @foreach (var role in Model.Roles)
                                {
                                    if (role == RoleEnum.User)
                                    {
                                        continue;
                                    }

                                    <li>
                                        @switch (role)
                                        {
                                            case RoleEnum.Administrator:
                                                @Html.ActionLink(@Resource.Administrator, "Index", "Administrator")
                                                break;
                                            case RoleEnum.Client:
                                                @Html.ActionLink(@Resource.Client, "Index", "Client")
                                                break;
                                            case RoleEnum.Trainer:
                                                @Html.ActionLink(@Resource.Trainer, "Index", "Trainer")
                                                break;
                                            default:
                                                break;
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        else
                        { 
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 d-md-none">
                                        <div class="slogan-large">
                                            @Resource.Slogan
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="expand">
                            @if (Model == default(UserViewModel))
                            {
                                <img src="@Url.Content("~/FrontEnd/src/assets/images/sideBar.jpg")" />
                            }
                            else
                            {
                                <div class="title">
                                    @Model.Name
                                </div>
                                @Html.Raw($"<img src=\"{((Model.Photo == null || Model.Photo.Count() == 0) ? Url.Content("~/FrontEnd/src/assets/images/person.png") : $"data:image/jpeg;base64,{Convert.ToBase64String((byte[])Model.Photo)}")}\" class=\"rounded-circle img-indent-circle\" />")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 d-none d-md-block">
            <div class="expand">
                <img src="@Url.Content("~/FrontEnd/src/assets/images/main.jpg")" />
            </div>
        </div>
        <div class="col-xl-3 d-none d-xl-block">
            <div class="slogan-huge">
                @Resource.Slogan
            </div>
        </div>
    </div>
</div>
<div id="actualGroups">
</div>
<div id="actualGroupsPagination">
</div>
<div id="selectedGroup">
</div>
