﻿@using FitnessCenter.CrossCutting.Resources

@{
    ViewBag.Title = Resource.Administrator;
}

<div class="container">
    <div class="row">
        <div class="col-10 offset-2 col-md-11 offset-md-1">
            <h2>@Resource.Administrator</h2>
        </div>
    </div>
</div>
