﻿@model  int

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-12 center">
            @Html.DisplayFor(model => model, "Pagination")
        </div>
    </div>
</div>
