﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model  ICollection<GroupViewModel>

@{
    Layout = null;
}

@helper CreateGroupMarkup(int skipGroups, string markupClass)
{
    <div class="@markupClass">
        @if (Model.Count > skipGroups)
        {
            @Html.Partial("Group", Model.Skip(skipGroups).FirstOrDefault())
        }
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-border-top">
                <h2>@Resource.TimetableOfGroups</h2>
            </div>
        </div>
    </div>
    <div class="row row-indent">
        @CreateGroupMarkup(0, "col-6 d-lg-none")
        @CreateGroupMarkup(1, "col-6 d-lg-none")
        @CreateGroupMarkup(0, "col-lg-4 d-none d-lg-block")
        @CreateGroupMarkup(1, "col-lg-4 d-none d-lg-block")
        @CreateGroupMarkup(2, "col-lg-4 d-none d-lg-block")
    </div>
    <div class="row row-indent">
        @CreateGroupMarkup(2, "col-6 d-lg-none")
        @CreateGroupMarkup(3, "col-6 d-lg-none")
        @CreateGroupMarkup(3, "col-lg-4 d-none d-lg-block")
        @CreateGroupMarkup(4, "col-lg-4 d-none d-lg-block")
        @CreateGroupMarkup(5, "col-lg-4 d-none d-lg-block")
    </div>
    <div class="row row-indent">
        @CreateGroupMarkup(4, "col-6 d-lg-none")
        @CreateGroupMarkup(5, "col-6 d-lg-none")
    </div>
</div>
