﻿@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model  GroupViewModel

@{
    Layout = null;
}

@{ 
    var maxNumberOfPeople = Model.MaxNumberOfPeople;
    var clientsCount = Model.Clients.Count;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-border-top">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 offset-1">
            <h2>@Model.Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-md-7 offset-md-1 col-lg-6">
            <div class="group-body">
                @Html.DisplayFor(model => model.Schedules, "Schedules")
            </div>
        </div>
        <div class="col-4 col-lg-5">
            @Html.Partial("GroupCost", Model)
            <div>
                @Resource.SubscriptionsAvailable
                <div class="text-accent">
                    @((maxNumberOfPeople - clientsCount > 0) ? maxNumberOfPeople - clientsCount : 0)<span class="text-inline"> / @((maxNumberOfPeople > clientsCount) ? maxNumberOfPeople : clientsCount)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.IsAuthenticatedUser)
        {
            <div class="col-8 col-md-9 col-lg-8 text-right">
                <button type="button" id="backToGroups" class="btn btn-outline-secondary">@Resource.Back</button>
            </div>
            <div class="col-4 col-md-3 col-lg-4">
                @using (Html.BeginForm("Create", "Client", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("groupId", Model.Id)
                    <button type="submit" class="btn btn-outline-secondary">@((Model.IsUserInGroup) ? Resource.IamAlreadyHere : Resource.EnterTheGroup)</button>
                }
            </div>
        }
        else
        {
            <div class="col-11 col-lg-10 text-right">
                <button type="button" id="backToGroups" class="btn btn-outline-secondary">@Resource.Back</button>
            </div>
        }
    </div>
</div>
