﻿@using FitnessCenter.CrossCutting.Resources

@model  string

@{
    ViewBag.Title = Model;
}

<div class="container">
    <div class="row">
        <div class="col-10 offset-2">
            <h2>@Model</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-2">
            <div class="accent">
                @Resource.AnErrorOccurredWhileProcessingYourRequest
            </div>
        </div>
    </div>
</div>
