﻿@using FitnessCenter.CrossCutting.Resources

@model  int

@{
    Layout = null;
}

@if (Model > 1)
{
    @Html.Hidden("paginationPageCount", Model);
    <ul class="pagination">
        <li id="previousPage" class="page-item disabled" value="-1">
            <a class="page-link shadow-none" tabindex="-1">
                @Resource.Previous
            </a>
        </li>
        @for (int i = 0; i < Model; i++)
        {
            <li id="page@(i)" class="page-item@((i == 0) ? " disabled active" : "")" value="@i">
                <a class="page-link shadow-none">
                    @(i + 1)
                </a>
            </li>
        }
        <li id="nextPage" class="page-item" value="1">
            <a class="page-link shadow-none">
                @Resource.Next
            </a>
        </li>
    </ul>
}
