﻿@using FitnessCenter.CrossCutting.Extensions
@using FitnessCenter.CrossCutting.Resources
@using FitnessCenter.WEB.ViewModels

@model  ICollection<ScheduleViewModel>

@{
    Layout = null;
}

<div>
    @foreach (var schedule in Model)
    {
        if (schedule.EndTime <= DateTime.Now)
        {
            continue;
        }

        <p>
            @schedule.FitnessTypeName.GetFitnessTypeName() / @Resource.Gym<br />
            @schedule.BeginTime.ToShortDateString() @schedule.BeginTime.ToShortTimeString() - @schedule.EndTime.ToShortTimeString() (@schedule.BeginTime.DayOfWeek.GetDayOfWeekShortName())
        </p>
    }
</div>
